<body>
    <h1>Clipes e suas avaliações</h1>

    <a href="">Novo clipe</a>

    <table>
        <thead>
            <tr>
                <th>Nome da música</th>
                <th>Artista</th>
                <th>Ano de lançamento</th>
                <th>Nota</th>
                <th>Comentario</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Formation</td>
                <td>Beyonce</td>
                <td>2016</td>
                <td>5</td>
                <td>Tem conceito, tem crítica, tem ativismo, tem coreografia e tem beyonce</td>
                <td>
                    <button>Excluir</button>
                </td>
            </tr>
        </tbody>
    </table>
</body>

